@font-face {
  font-family: morseCode;
  src: url(./fonts/MorsoKode-dnXX.ttf);
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display';
  /* overflow: hidden; */
}


.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.title { 
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-self: flex-start; */
  color: white;
  background-color: black;
}

.title p {
  
  font-family: morseCode;
  font-size: 30px;
}

.title h1 {
  font-size: 50px;
}

.content {
  flex: 8;
  font-size: 20px;
  width: 80%;
  /* margin-top: 2rem; */
}

.numMinted{
  font-size: 30px;
  text-align: center;
}

.num{
  font-weight: 500;
  font-size: 50px;
}

.content strong {
  font-size: 35px;
}

.mintbtn{
  position: relative;
  border: none;
  background-color: black;
  color: white;
  font-size: 50px;
  padding: 1rem;
  margin-top: 1rem;
  transition: 0.5 ease;
  z-index: 999;
}

.mintbtn:hover{
  background-color: white;
  color: black;
}

.section1::after{
  content: "";
  position: absolute;
  
  width: 75px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  /* z-index: 999; */
  /* transition: 1s ease all; */
  transform-origin: center center;
  transform: rotate(45deg);
  /* background-color: rgb(187, 53, 53);  */
  top: calc(100vh - 38px);
  z-index: 1;
}

.section2{
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}



.section2 h1{
  flex: 1;
  width: 50%;
  align-self: flex-start;
}